
/* VerificationCard.css */
.verification-card-container {
  padding: 20px;
  margin-top: -20px; /* Adjust this value to move the whole container up */
}

.verification-box-section {
  display: flex;
  justify-content: space-between;
}

/* Search Section Styles */
.verification-search-section {
  margin-bottom: 10px; /* Reduced margin-bottom to move the section higher */
  margin-top: -10px; /* Added margin-top to move the section higher */
}

.verification-search-input {
  margin-right: 10px;
  width: 300px;
}

.verification-submit-button {
  background-color: #1976d2;
  color: white;
}

/* Left Box Styles */
.verification-left-box {
  width: 48%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.verification-profile-pic {
  width: 125px;
  height: 125px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: -45px;
  left: 50%;
  transform: translateX(-50%);
}

.profile-pic-img {
  width: 125px;
  height: 125px;
  border-radius: 50%;
}

.verification-details {
  margin-top: 80px; /* Adjust this to move the content below the profile picture */
}

.verification-field-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.verification-fields {
  flex: 1;
  text-align: left;
  margin-right: 10px;
}

.verification-content {
  flex: 1;
  text-align: left;
}

/* Right Box Styles */
.verification-right-box {
  width: 48%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.certificate-img {
  height: 300px; /* Fixing the height of the certificate image */
  width: auto; /* Ensuring the width adjusts to maintain aspect ratio */
}

.default-certificate {
  filter: blur(5px);
}
