.coursesCard {
  padding: 50px 0;
}

.coursesCard .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive grid */
  gap: 20px;
}

.coursesCard .items {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.coursesCard .img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #1eb2a6;
  padding: 15px;
  margin: 0 auto;
}

.coursesCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.coursesCard .text {
  margin-top: 15px;
}

.coursesCard .text h1 {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}

.coursesCard .rate {
  margin: 15px 0;
  color: #1eb2a6;
}

.coursesCard .rate i {
  font-size: 13px;
  margin-right: 5px;
}

.coursesCard .details .box {
  display: flex;
  align-items: center;
  justify-content: center;
  color: grey;
}

.coursesCard .details .dimg img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.coursesCard .details span {
  color: #1eb2a6;
  font-weight: 500;
  font-size: 14px;
}

.coursesCard .price {
  margin: 20px 0;
  background-color: #f8f8f8;
  padding: 10px;
  border-radius: 5px;
}

.coursesCard h3 {
  font-weight: 500;
  color: #1eb2a6;
}

@media screen and (max-width: 768px) {
  .coursesCard .text h1 {
    font-size: 20px;
    line-height: 30px;
  }

  .coursesCard .items {
    padding: 15px;
  }

  .coursesCard .img {
    width: 80px;
    height: 80px;
  }

  .coursesCard .details .dimg img {
    width: 40px;
    height: 40px;
  }
}
